.bitcamp{
  width: 1000px;
  height: 400px;
  background-color: rgb(14, 13, 13);
  margin: auto;
}
.element {
  width: 200px;
  height: 20px;
  border-radius: 20px;
  background: radial-gradient(#ff0000, blue);
}
