<app-first-component *ngFor="let numbers of afterThisCourse" [goals]="numbers" [ngClass]="{changed: numbers.isActive}" (click)="numbers.isActive = !numbers.isActive"></app-first-component>


<div  class="bitcamp">
  <app-bitcamp></app-bitcamp>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1></h1>
        </div>
    </div>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
  </ul>
</div> -->
