:host {
    display: inline-block;
    width: 250px;
    border: 2px solid green;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    margin: 30px;
    text-align: center;
    cursor: pointer;
}

:host(.active) {
    border: 10px solid red;
    border-radius: 20px;
}